[Desktop Entry]
Type=Application
Name=Wine Windows Program Loader
Exec=wine "%f"
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;
NoDisplay=true
Terminal=false

